StudyTest/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.4.69.71:8989/wcf/metadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.4.69.71:8989/wcf/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.4.69.71:8989/wcf/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetModelInfoByWorkNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelInfoByWorkNum" />
  </wsdl:message>
  <wsdl:message name="IService1_GetModelInfoByWorkNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelInfoByWorkNumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSecondModelInfoByModelInfoBarcode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecondModelInfoByModelInfoBarcode" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSecondModelInfoByModelInfoBarcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecondModelInfoByModelInfoBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetModelInfoWithSecondModelInfoByWorkNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelInfoWithSecondModelInfoByWorkNum" />
  </wsdl:message>
  <wsdl:message name="IService1_GetModelInfoWithSecondModelInfoByWorkNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelInfoWithSecondModelInfoByWorkNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetModelInfoByWorkNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetModelInfoByWorkNum" message="tns:IService1_GetModelInfoByWorkNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetModelInfoByWorkNumResponse" message="tns:IService1_GetModelInfoByWorkNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecondModelInfoByModelInfoBarcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSecondModelInfoByModelInfoBarcode" message="tns:IService1_GetSecondModelInfoByModelInfoBarcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSecondModelInfoByModelInfoBarcodeResponse" message="tns:IService1_GetSecondModelInfoByModelInfoBarcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelInfoWithSecondModelInfoByWorkNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetModelInfoWithSecondModelInfoByWorkNum" message="tns:IService1_GetModelInfoWithSecondModelInfoByWorkNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetModelInfoWithSecondModelInfoByWorkNumResponse" message="tns:IService1_GetModelInfoWithSecondModelInfoByWorkNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModelInfoByWorkNum">
      <soap:operation soapAction="http://tempuri.org/IService1/GetModelInfoByWorkNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecondModelInfoByModelInfoBarcode">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSecondModelInfoByModelInfoBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelInfoWithSecondModelInfoByWorkNum">
      <soap:operation soapAction="http://tempuri.org/IService1/GetModelInfoWithSecondModelInfoByWorkNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://10.4.69.71:8989/wcf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>