StudyTest/Web References/WebReference/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.4.69.71:8989/wcf/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" />
  <xs:element name="GetModelInfoByWorkNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelInfoByWorkNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" minOccurs="0" name="GetModelInfoByWorkNumResult" nillable="true" type="q1:ModelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecondModelInfoByModelInfoBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelInfoBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecondModelInfoByModelInfoBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" minOccurs="0" name="GetSecondModelInfoByModelInfoBarcodeResult" nillable="true" type="q2:ArrayOfSecondModelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelInfoWithSecondModelInfoByWorkNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelInfoWithSecondModelInfoByWorkNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" minOccurs="0" name="GetModelInfoWithSecondModelInfoByWorkNumResult" nillable="true" type="q3:ModelInfoWithSecondModelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>