StudyTest/Web References/WebReference/metadata0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreatWallWCFServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelBarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelInfo" nillable="true" type="tns:ModelInfo" />
  <xs:complexType name="ArrayOfSecondModelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecondModelInfo" nillable="true" type="tns:SecondModelInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecondModelInfo" nillable="true" type="tns:ArrayOfSecondModelInfo" />
  <xs:complexType name="SecondModelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecondModelBarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondModelPinghao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecondModelInfo" nillable="true" type="tns:SecondModelInfo" />
  <xs:complexType name="ModelInfoWithSecondModelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelBarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondModelInfoList" nillable="true" type="tns:ArrayOfSecondModelInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelInfoWithSecondModelInfo" nillable="true" type="tns:ModelInfoWithSecondModelInfo" />
</xs:schema>